<form action="/hiba" method="POST">
    <p>Ez egy hibauzenet!</p>
    <fieldset>
	<legend>Bejelentkezés</legend>
	<p>
	    <label for="user">Felhasználónév:</label>
	    <input type="text" id="user" name="user" />
		</p>
		<p>
		    <label for="pass">Jelszó:</label>
		    <input type="password" id="pass" name="pass" />
		</p>
		<p><input type="submit" value="Mehet" /></p>
	</fieldset>
</form>